<div class="bookmarks-container">
  <h2 class="bookmarks-title">Bookmarks</h2>

  <div *ngFor="let b of bookmarks" class="bookmark-item">
    <img
      [src]="b.owner.avatarUrl"
      alt="Avatar"
      class="bookmark-avatar"
      width="40"
    />
    <a [href]="b.htmlUrl" target="_blank" class="bookmark-link">{{
      b.fullName
    }}</a>
    <button (click)="remove(b.fullName)" class="bookmark-remove-button">
      Remove
    </button>
  </div>

  <button routerLink="/search" class="back-to-search">Back to Search</button>
</div>
